input {
  width: 175px;
}

.quiz-element-container {
  justify-content: center;
}

.inner-quiz-element-container {
  display: flex;
  flex-direction: row;
}

.question-label {
  width: 150px;
  text-align: left;
}

.tick-mark-container {
  margin-top: 10px;
}