@import '../../../styles/variables';

.verb-label {
  text-align: center;
  /* standard color used for link see contactUs which uses same color*/
  color: $link-color;
  text-decoration-line: underline;
  width: 100%;
}

.base-language-label {
  text-align: center;
  width: 100%;
}

.foreign-language-label-no-verb {
  text-align: center;
  width: 100%;
}

.foreign-language-label-stroke-order {
  text-align: center;
  /* standard color used for link see contactUs which uses same color*/
  color: $link-color;
  text-decoration-line: underline;
  width: 100%;
}

.verb-table {
  /* Your CSS styles here */
  border: 2px solid white;
}

.verb-table tr:first-child {
  /* Your CSS styles here */
  border-bottom: 2px solid white;
}

.verb-table td {
  width: 200px;

}

.verb-table tr td:not(:last-child) {
  /* Your CSS styles here */
  border-right: 1px solid black;
}




