.spanish-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  margin-top: 10%;
  padding-top: 50px;
  padding-left: 15%;
  padding-right:15%;
  font-size: 18px;
  background-color: white;
  min-width: 400px;
  margin-top: 0px;
  margin-left: 12px;
  margin-right: 12px;
  flex-grow: 1;        /* Allow the container to take up remaining vertical space */
  border-radius: 5px;
  overflow-y: auto; /* Adds a vertical scrollbar when content overflows */
  height: calc(100vh - 90px); /* Restricts the container's height to 80% of the viewport */}


@media (min-width: 500px) {
  .study-materials-div {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
}