.spanish-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-top: 10%;
  padding-left: 15%;
  padding-right:15%;
  width: 100vw;
  font-size: 18px;
}

@media (min-width: 500px) {
  .study-materials-div {
    display: flex;
    justify-content: left;
    padding-top: 30px;
  }
}