.custom-404-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100vw;
  }
  
  .text-wrapper {
    display: inline-block; /* Keeps the text and link on the same line */
    text-align: center;  

  }