.my-custom-button {
  margin: 0px 10px 0px 0px;
  background-color: #e8e8e8; /* Use # for hex color codes */
  border-color: #4A4A4A;
  color: #4A4A4A;
  border-radius: 5px;
  /* Any other custom styles you need */
}

.my-custom-button:hover,
.my-custom-button:focus,
.my-custom-button:active,
.my-custom-button:focus:active {
  background-color: #e8e8e8; /* Use # for hex color codes */
  border-color: #e8e8e8;
  color: #4A4A4A;
  border-color: #4A4A4A;


}