@import '../../../styles/variables';

.my-custom-button-light {
  margin: 0px 10px 0px 0px;
  background-color: $ultra-light-grey; 
  border-color: $dark-grey;
  color: $dark-grey;
  border-radius: 5px;
}

.my-custom-button-light:hover,
.my-custom-button-light:focus,
.my-custom-button-light:active,
.my-custom-button-light:focus:active {
  background-color: $ultra-light-grey;
  border-color: $light-grey;
  color: $dark-grey;
  border-color: $dark-grey;


}