.btn-primary {
  margin: 0px 10px 0px 0px;
  background-color: #E8E8E8; 
  border-color: #4A4A4A;
  color: #4A4A4A;
  border-radius: 5px;

  --bs-btn-active-bg: #E8E8E8;  /* Set the active background color */
  --bs-btn-active-border-color: #E8E8E8;
  --bs-btn-active-color: #4A4A4A; /* Set the active border color */
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus:active {
  background-color: #E8E8E8; 
  border-color: #4A4A4A;
  color: #4A4A4A;
}

.btn-primary:active,
.btn-primary:focus:active {
  background-color: var(--bs-btn-active-bg);  /* Use the active background color */
  border-color: var(--bs-btn-active-border-color); 
  color:var(--bs-btn-active-color);
}