.btn-primary {
  margin: 0px 10px 0px 0px;
  background-color: #E8E8E8; 
  border-color: #4A4A4A;
  color: #4A4A4A;
  border-radius: 5px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus:active {
  background-color: #E8E8E8; 
  border-color: #E8E8E8;
  color: #4A4A4A;
  border-color: #4A4A4A;


}

