@import '../../../styles/variables';

.nav-link-custom {
  margin: 0px 10px 0px 10px;
  color: white !important;
  text-decoration: none;
}

.nav-link-custom:hover,
.nav-link-custom:active,
.nav-link-custom.active {
  text-decoration: underline;
  color: $ultra-light-grey;
}

.hover-underline {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

.hover-underline:hover {
  text-decoration: underline;
}


.log-in-log-out {
  margin: 0.5rem 10px 0.5rem 10px;
  color: white;
}

.log-in-log-out:hover {
  text-decoration: underline;
  color: white
}


.dropdown-title {
  position: relative;
  cursor: pointer;

  &.closed::after {
    content: '';
    display: inline-block;
    width: 12px; /* Adjust size */
    height: 12px; /* Adjust size */
    background-image: url('../../../assets/chevron-right-solid.svg'); /* Path to your SVG file */
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
  }

  &.open::after {
    content: '';
    display: inline-block;
    width: 12px; /* Adjust size */
    height: 12px; /* Adjust size */
    background-image: url('../../../assets/chevron-down-solid.svg'); /* Path to your SVG file */
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
  }
}
/* Ensure that the default Bootstrap dropdown arrow is hidden */
.navbar-nav .nav-item .dropdown-toggle::after {
  display: none !important; /* Hide the default arrow */
}

.navbar-toggle-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggle-custom {
  color: white; // Sets the icon color to white
  border-color: white; // Ensures the toggle button’s border is white as well
  border-width: 1px;

  &:focus, &:hover {
    color: white; // Keeps it white on hover and focus
  }
}