@import '../../../styles/variables';

.nav-link-custom {
  margin: 0px 10px 0px 10px;
  color: $dark-grey !important;
  text-decoration: none;
}

.nav-link-custom:hover,
.nav-link-custom:active,
.nav-link-custom.active {
  text-decoration: underline;
  color: $ultra-light-grey;
}

.hover-underline {
  color: $dark-grey;
  margin-left: 10px;
  text-decoration: none;
}

.hover-underline:hover {
  text-decoration: underline;
}


.log-in-log-out {
  margin: 0px 10px 0px 10px;
}

.log-in-log-out:hover {
  text-decoration: underline;
}
