@import '../../styles/variables';

h4 {
  text-align: center;
  padding-bottom: 50px;
}

.table-container, .options-container, .switch-container { 
  display: flex !important;
  justify-content: center !important;
}

.react-bootstrap-table {
  width: 400px;
  border-width: 1px;
  border-color: $dark-grey;
  border-style: solid;
}

.react-bootstrap-table th {
  text-align: center;
  width: 50%;
  color: $dark-grey; 
}


.react-bootstrap-table th {
  text-align: center;
  width: 50%;
  color: $dark-grey; 
}

.div-options-container {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.div-switch-container {
  display: flex;
  flex-direction: row;
}

.topic-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}