.nav-link-custom {
  margin: 0px 10px 0px 10px;
  color: #f8f9fa;
  text-decoration: none;
}

.nav-link-custom:hover,
.nav-link-custom:active,
.nav-link-custom.active {
  text-decoration: underline;
  color:#f8f9fa; /* Ensure the text color remains#f8f9fa */
}