.nav-link-custom {
  margin: 0px 10px 0px 10px;
  color: #F8F8F8;
  text-decoration: none;
}

.nav-link-custom:hover,
.nav-link-custom:active,
.nav-link-custom.active {
  text-decoration: underline;
  color:#F8F8F8;
}