.japanese-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-top: 10%;
  padding-left: 15%;
  padding-right:15%;
  height: 60vh;
  width: 100vw;
}
