@import '../../styles/variables';

/* width */
::-webkit-scrollbar {
  width: 10px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #acacac; 
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: content-box;
}


h4 {
  text-align: center;
  padding-bottom: 50px;
}

th {
  text-align: center;
  width: 50%;
}

td {
  vertical-align: 'middle';
  color: $dark-grey !important;
}

.transcription-table {
  width: 350px;
  border-style: solid;
  border-width: 1px;
  border-color: $dark-grey;
}

.audio-player-and-table-container {
  margin-top: 10px;
}
.inner-audio-player-and-table-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.listening-comprehension-container {
  justify-content: center !important;
}

.inner-listening-comprehension-container {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.div-switch-container {
  display: flex;
  flex-direction: row;
  margin: 0px 20px 20px 20px; 
}

table.scrolldown {

  /* border-collapse: collapse; */
  border: 1px solid black;
}


thead tr th {
  height: 40px;
  line-height: 20px;
}


tbody {
  border-top: 1px solid black;
}

tbody td,
thead th {
  width: 200px;
  border-right: 1px solid black;
}

td {
  text-align: center;
  border-bottom: 1px solid black;
}


.react-bootstrap-table2 {
  border-width: 1px;
  border-color: $dark-grey;
  border-style: solid;
  max-width: 800px;
}

.react-bootstrap-table2 th {
  text-align: center;
  width: 50%;
  color: $dark-grey; 
}


.react-bootstrap-table2 th {
  text-align: center;
  width: 50%;
  color: $dark-grey; 
}

.table-cell {
  text-align: left; // Ensure left alignment
  padding: 10px 5px 0px 5px; // Add some padding for better spacing
};