@import '../../../styles/variables';

.white-drop-down-button-container {
  .dropdown-item {
    font-size: 0.875rem; /* Adjust this size as needed (e.g., 14px) */
  }

  .dropdown-item.selected {
    background-color: grey; /* Adjust this size as needed (e.g., 14px) */
  }

  
  .btn-primary {
    margin: 0px 10px 0px 0px;
    background-color: white; 
    border-color: white;
    color: $dark-grey;
    border-radius: 5px;
  
    --bs-btn-active-bg: $ultra-light-grey; 
    --bs-btn-active-border-color: $ultra-light-grey;
    --bs-btn-active-color: $dark-grey;
  }
  
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary:focus:active {
    background-color: $ultra-light-grey; 
    border-color: white;
    color: $dark-grey;
  }
  
  .btn-primary:active,
  .btn-primary:focus:active {
    background-color: var(--bs-btn-active-bg); 
    border-color: white; 
    color: var(--bs-btn-active-color);
  }
}
