@import 'styles/variables';

label {
  display: inline-block;
}

input {
  border: 1px solid gray  !important;
  border-radius: 6px !important;
  margin-top: 10px!important;
  margin-right: 10px!important;
  padding-top: 2px!important;
  padding-bottom: 2px!important;
}

audio {
  width: 100px;
}

.home-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  min-height: 50vh; 
}

audio::-webkit-media-controls-volume-slider, 
audio::-webkit-media-controls-timeline-container, 
audio::-webkit-media-controls-time-remaining-display,  
audio::-webkit-media-controls-timeline {
  display: none !important;
}

audio::-webkit-media-controls-panel {
  padding: 0 0 0 1px;
  justify-content: center;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: $dark-grey;
}

.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:focus:active {
  background-color: var(--bs-dropdown-link-active-bg);
}

.form-control {
  padding: 0 !important;
  margin: 0 0 20px 0 !important;
  height: 30px
}

.form-label {
  margin: 0 0 4px 0 !important;
}

.btn-auth {
  color: white !important;
  background-color: rgb(13, 110,253) !important;
  border: none !important;
  height: 40px
}

.full-background {
  background-image: url('/src/assets/nyc.jpeg');
  background-size: cover; /* Ensures image covers entire div */
  background-position: center; /* Centers image */
  width: 100%; /* Adjust width as needed */
  height: 100vh; /* Full viewport height */
}

.full-background::before {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
}

.plain-background {
  background-color: #788186;
  background-size: cover; /* Ensures image covers entire div */
  background-position: center; /* Centers image */
  width: 100%; /* Adjust width as needed */
  height: 100vh; /* Full viewport height */
}

.plain-background::before {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  margin-top: 10%;
  padding-top: 50px;
  padding-bottom:12px;
  padding-left: 15%;
  padding-right:15%;
  font-size: 18px;
  background-color: white;
  min-width: 400px;
  margin-top: 0px;
  margin-left: 12px;
  margin-right: 12px;
  flex-grow: 1;        /* Allow the container to take up remaining vertical space */
  border-radius: 5px;
  overflow-y: auto; /* Adds a vertical scrollbar when content overflows */
  height: calc(90dvh); /* using dynamic viewport height to support ui element in viewport on mobile*/
}

.page-container-no-padding-small-font {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  margin-top: 10%;
  padding-top: 50px;
  padding-bottom:12px;
  background-color: white;
  min-width: 400px;
  margin-top: 0px;
  margin-left: 12px;
  margin-right: 12px;
  flex-grow: 1;        /* Allow the container to take up remaining vertical space */
  border-radius: 5px;
  overflow-y: auto; /* Adds a vertical scrollbar when content overflows */
  height: calc(90dvh); /* using dynamic viewport height to support ui element in viewport on mobile*/
}

.central-container {
  position: relative;
  left: 50%;
  transform: translate(-50%,0%);
  max-width: 800px;
}


